:root {
    --danger: #ff8a80;
    --blue: #0d47a1;
    --light: #bbdefb;
}

.page {
    min-height: 100vh;
    padding-top: 5rem;      
  }
  
  .page--home,
  .page--create,
  .page--register {
   background-color: var(--light);
  }

  .page--scenario {
    background-color: white;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--blue);
    padding: 0.5rem 0;
    z-index: 10;
  }
  
  .navbar-container {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
  
  .navbar-item {
    background-color: var(--light);
    color: var(--blue);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .navbar-item.active {
    background: var(--light);
    border: 2px solid var(--blue);
  }

.welcome {
    text-align: center;
    margin: 2rem 0;
  }
  .welcome h1 {
    font-size: 2rem;
    color: #0d47a1;
  }
  .welcome p {
    max-width: 600px;
    margin: 0.5rem auto 2rem;
    line-height: 1.4;
  }
  